ion-content{
background: linear-gradient(to right, #2193b0, #6dd5ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Roboto Slab', serif;
}
h2,p{
  color: rgb(6, 60, 140);
  text-align: center;
}
