ion-content{
background: linear-gradient(to top, #2193b0, #6dd5ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Roboto Slab', serif;
}
h2,p{
  color: rgb(6, 60, 140);
  text-align: center;
}
ion-input{
  color: rgb(6, 60, 140);
}
button{
    background: none;
    color: #60faff;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.3s;
}
button:hover{
    border-color: #17dcff;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4rem  #27f2ee;
    transform: translateY(-0.25em);
    cursor: pointer;
}
img,button{
  display: block;
  margin: 15px auto;
}
ion-item{
  background-color: rgb(109, 245, 186);
}
#label{
  color: rgb(0, 38, 255);
}
